<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <!-- body sections -->
  <body>
    <div id="root">
      <div id="left-side">
        <!-- left-side-menu -->
        <div class="user-nav">
          <div class="left-user-icons">
            <img class="user-image" src="/img/avatar_io.jpg" alt="avatar" />
            <span class="user-name">Sofia</span>
          </div>
          <div class="right-user-icons">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <!-- notifications -->
        <div class="notifications">
          <div class="bell-container">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="notification-texts">
            <div class="bold">Ricevi notifiche di nuovi messaggi</div>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <!-- end notifications -->

        <!-- search-contacts -->
        <div class="search-contacts">
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <!-- search-input -->
          <input
            class="search-bar"
            type="text"
            placeholder="Cerca o inizia nuova chat"
          />
        </div>
        <!-- end-search-contacts -->

        <!-- contact-list -->
        <div class="contact-list">
          <div
            class="contact"
            v-for="(contact, index) in filteredContacts"
            :class="(index === activeContact ? 'contact-active': null)"
            @click="setActiveContact(index)"
          >
            <div class="left-contact">
              <img
                class="user-image"
                :src="`img/avatar${filteredContacts[index].avatar}.jpg`"
                alt="index.avatar"
              />
              <div class="info">
                <div class="contact-name">{{ contact.name }}</div>
                <div v-if="contact.messages.length > 0" class="last-message">
                  {{contact.messages[0].message}}
                </div>
              </div>
              <div class="right-contact">
                <div v-if="contact.messages.length > 0" class="message-time">
                  {{contact.messages[0].date}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- contact-list-end -->
      </div>
      <!-- end-left-side -->

      <!-- right-side -->
      <div class="rigth-side">
        <div class="contact-nav">
          <div class="left-contact-icons">
            <img
              class="user-image"
              :src="`img/avatar${filteredContacts[0].avatar}.jpg`"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- root -->
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
</html>
